.idea
mqtt/vendor
graphql/vendor

mqtt/.env

mysql/data
!mysql/data/.gitkeep

redis/*
!redis/redis.conf

#
# mac
#
.DS_Store

#
# http api
#
http-api/vendor
http-api/tmp
http-api/.env


#
# admin-template
#
# Logs
admin-template/.DS_Store
admin-template/node_modules
admin-template/dist
admin-template/tests/**/coverage/
# local env files
admin-template/.env.local
admin-template/.env.*.local
# Log files
admin-template/npm-debug.log*
admin-template/yarn-debug.log*
admin-template/yarn-error.log*
admin-template/pnpm-debug.log*
# Editor directories and files
admin-template/.idea
admin-template/.vscode
admin-template/.history
admin-template/.ionide
admin-template/*.suo
admin-template/*.ntvs*
admin-template/*.njsproj
admin-template/*.sln
admin-template/*.sw?

sqlserver/data

http-api/public/uploads
http-api/tmp.go
!http-api/public/uploads/.gitkeep
!http-api/public/uploads/local/2021-5-28/1622171038-1622171009253.jpg
